.form-container {
  position: relative;
  top: 5rem;
  width: 40%;
  margin: 4rem auto;
  background-color: #621bcc;
  padding: 3rem;
  font-size: 3rem;
  border-radius: 1rem;
  text-align: center;
  /* border: 1px solid red; */
}
.form-control input {
  width: 100%;
  padding: 0.8rem;
  display: block;
  margin: 0.8rem auto;
  border-radius: 0.7rem;
  font-size: 2rem;
  font-weight: 600;
  border: 0;
  outline: none;
}

.form-control label {
  font-size: 3.5rem;
  text-align: center;
  color: white;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

button {
  background-color: #1e2232;
  color: white;
  font-weight: 600;
  letter-spacing: 0.3rem;
  width: 100%;
  font-size: 4rem;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-top: 0.8rem;
  text-align: center;
  border: 0;
}

@media only screen and (max-width: 768px) {
  .form-container {
    width: 100%;
    top: 12rem;
  }
  .form-control input {
    width: 30rem;
  }
  button {
    width: 30rem;
  }
}
